// Variables
$color-primary: #da637c;
$color-secondary: #f9f9f9;
$color-text: whitesmoke;
$color-highlight: pink;

// Mixin
@mixin font-face($font-family, $font-url) {
  @font-face {
    font-family: $font-family;
    src: url($font-url) format('truetype');
  }
}

// Import
@import '../Font/RobotoMono-ExtraLight.ttf';

// General styles for elements
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #da637c;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  padding: 20px;
}

.h2 {
  text-align: center;
  font-size: 3em;
}

.h4 {
  text-align: center;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  max-width: 22%;
  margin: 10px;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

// Media queries
@media (max-width: 320px) {
  /* Extra small devices (phones) */
  .pic {
    font-size: 14px;
  }
  /* Additional styles for extra small devices */
  .product {
    max-width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  /* Small devices (landscape phones, portrait tablets) */
  .pic {
    font-size: 16px;
  }
  /* Additional styles for small devices */
  .product {
    max-width: 48%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium devices (landscape tablets, small laptops) */
  .pic {
    font-size: 18px;
  }
  /* Additional styles for medium devices */
  .product {
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  /* Large devices (laptops and desktops) */
  .pic {
    font-size: 20px;
  }
  /* Additional styles for large devices */
  .product {
    max-width: 22%;
  }
}
